# ---------------------
# BACKEND (Java + Maven)
# ---------------------
/target/
/.mvn/
/*.iml
*.log
*.class
*.jar
*.war
*.ear

# IntelliJ IDEA
.idea/
*.iws
*.ipr
*.iml
out/

# Eclipse
.project
.classpath
.settings/
bin/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# ---------------------
# FRONTEND (Angular)
# ---------------------
/node_modules/
/dist/
/.angular/

# Angular CLI cache
.angular/cache/

# Ambiente
.env
.env.local

# Teste
coverage/
karma-*.log
testem.log

# ---------------------
# GERAL
# ---------------------
*.swp
*.swo
*.tmp
*.bak
*.orig
